# Build output
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.a
*.o
*.out

# Generated protobuf + gRPC files
proto/generated/
*.pb.cc
*.pb.h
*.grpc.pb.cc
*.grpc.pb.h

# VSCode settings
.vscode/

# MacOS files
.DS_Store
